@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .grid-area-template-club-list {
    grid-template-areas:
      'icon name trophies'
      'icon name win-rate';
  }
  .grid-area-template-club-list-md {
    grid-template-areas:
      'icon name role trophies win-rate last-played'
      'icon name role trophies win-rate last-played';
  }
  .grid-area-template-brawler-list {
    grid-template-areas: 'icon name rank power trophies';
  }
  .grid-area-template-brawler-list-md {
    grid-template-areas: 'icon name rank power trophies powerups';
  }

  .grid-area-icon {
    grid-area: icon;
  }
  .grid-area-name {
    grid-area: name;
  }
  .grid-area-role {
    grid-area: role;
  }
  .grid-area-trophies {
    grid-area: trophies;
  }
  .grid-area-win-rate {
    grid-area: win-rate;
  }
  .grid-area-last-played {
    grid-area: last-played;
  }
  .grid-area-powerups {
    grid-area: powerups;
  }

  .text-gradient {
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .fade-in {
    animation: fadeIn 0.5s;
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}

html,
body,
#app {
  height: 100%;
}
